<a href="https://colab.research.google.com/github/20144481NguyenMinhTruong/NguyenMinhTruong20144481/blob/main/NGUYENMINHTRUONGBUOI1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open ('textdxt', mode = 'w') as accounts:
  accounts.write('1 Nguyen Van A 8.0 \n')
  accounts.write('2 Le Thi B 6.8 \n')

In [ ]:
with open ('textdxt', mode = 'w') as accounts:
  print ('7:00 AAA', file = accounts)
  print ('7:01 bbb', file = accounts)

In [ ]:
with open ('text.txt', mode = 'r') as accounts:
  print(f'{'name':<20}{'score':>20}')
  for record in accounts:
    name, score = record.split()
    print(f'{name:<20}{score:>20}')

SyntaxError: ignored

In [ ]:
import pandas as pd
url='/content/TTNT1.csv'
dataframe=pd.read_csv(url)
dataframe.head(10)

   STT  MSSV     HO VA TEN  DIEM
0    1    36  Nguyen Van A    10
1    2    37  Nguyen Van B     9
2    3    38  Nguyen Van C     9
3    4    39  Nguyen Van D     8
4    5    40  Nguyen Van E     7
5    6    41  Nguyen Van G     7
6    7    42  Nguyen Van H     6
7    8    43  Nguyen Van J     5
8    9    44  Nguyen Van K     4
9   10    45  Nguyen Van L     1

In [ ]:
import pandas as pd
dataframe = pd.DataFrame()
dataframe['Name'] = ['Nguyen Van A', 'Le Thi B']
dataframe['Student.ID']=[20144481, 20144483]
dataframe['score']=[8.0, 9.0]
dataframe

           Name  Student.ID  score
0  Nguyen Van A    20144481    8.0
1      Le Thi B    20144483    9.0

In [ ]:
import pandas as pd
url='/content/TTNT2.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)

   STT  MSSV     HO VA TEN  DIEM  YEAR FACULTY
0    1    36  Nguyen Van A    10    20     CKM
1    2    37  Nguyen Van B     9    16     CKM
2    3    38  Nguyen Van C     9    22     FHQ
3    4    39  Nguyen Van D     8    24     CKM
4    5    40  Nguyen Van E     7    26     FHQ
5    6    41  Nguyen Van G     7    27     CKM
6    7    42  Nguyen Van H     6    17     FHQ
7    8    43  Nguyen Van J     5    22     CKM
8    9    44  Nguyen Van K     4    18     FHQ
9   10    45  Nguyen Van L     1    19     CKM

In [ ]:
import pandas as pd
url='/content/TTNT2.csv'
dataframe = pd.read_csv(url)
dataframe.iloc[5:8]

   STT  MSSV     HO VA TEN  DIEM  YEAR FACULTY
5    6    41  Nguyen Van G     7    27     CKM
6    7    42  Nguyen Van H     6    17     FHQ
7    8    43  Nguyen Van J     5    22     CKM

In [ ]:
import pandas as pd
url='/content/TTNT3.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['HO VA TEN'])
dataframe.loc['Nguyen Van A']

              STT  MSSV     HO VA TEN  DIEM  YEAR FACULTY
HO VA TEN
Nguyen Van A    1    36  Nguyen Van A    10    20     CKM
Nguyen Van A    4    39  Nguyen Van A     8    24     CKM
Nguyen Van A   10    45  Nguyen Van A     1    19     CKM

In [ ]:
import pandas as pd
url='/content/TTNT3.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['FACULTY'])
dataframe[dataframe['FACULTY'] == 'CKM'].head(10)

         STT  MSSV     HO VA TEN  DIEM  YEAR FACULTY
FACULTY
CKM        1    36  Nguyen Van A    10    20     CKM
CKM        2    37  Nguyen Van B     9    16     CKM
CKM        4    39  Nguyen Van A     8    24     CKM
CKM        6    41  Nguyen Van G     7    27     CKM
CKM        8    43  Nguyen Van J     5    22     CKM
CKM       10    45  Nguyen Van A     1    19     CKM

In [ ]:
import pandas as pd
url='/content/TTNT3.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['FACULTY'])
dataframe['FACULTY'].unique()

array(['CKM', 'FHQ'], dtype=object)

In [ ]:
import pandas as pd
url='/content/TTNT3.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['FACULTY'])
dataframe['FACULTY'].value_counts()

CKM    6
FHQ    4
Name: FACULTY, dtype: int64

In [ ]:
import pandas as pd
url='/content/TTNT3.csv'
dataframe = pd.read_csv(url)
dataframe.drop(['FACULTY','YEAR'], axis=1).head(5)

   STT  MSSV     HO VA TEN  DIEM
0    1    36  Nguyen Van A    10
1    2    37  Nguyen Van B     9
2    3    38  Nguyen Van C     9
3    4    39  Nguyen Van A     8
4    5    40  Nguyen Van E     7

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe= dataframe.set_index(dataframe['Medal'])
dataframe[dataframe['Medal'] == 'Silver'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Silver,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
Silver,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
Silver,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
Silver,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,NOR,1500m,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,NOR,500m,M,Silver
Silver,1924,Chamonix,Skating,Speed skating,NOR,combined (4 events),M,Silver
Silver,1924,Chamonix,Skiing,Cross Country S,NOR,18km,M,Silver

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
dataframe = dataframe.set_index(dataframe['Medal'])
dataframe.loc['Gold']
dataframe[(dataframe['Medal']=='Gold') & (dataframe['Event gender']=='M') & (dataframe['NOC']=='USA')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Gold,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
Gold,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
Gold,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold
Gold,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
Gold,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,two-man,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
Gold,1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,USA,two-man,M,Gold
Gold,1948,St. Moritz,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
Gold,1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold
Gold,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
Gold,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
Gold,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
Gold,1960,Squaw Valley,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
Gold,1960,Squaw Valley,Skating,Figure skating,USA,individual,M,Gold
Gold,1964,Innsbruck,Skating,Speed skating,USA,500m,M,Gold
Gold,1976,Innsbruck,Skating,Speed skating,USA,1000m,M,Gold
Gold,1980,Lake Placid,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,1000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
Gold,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
Gold,1984,Sarajevo,Skiing,Alpine Skiing,USA,downhill,M,Gold
Gold,1984,Sarajevo,Skiing,Alpine Skiing,USA,slalom,M,Gold
Gold,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold
Gold,1994,Lillehammer,Skating,Speed skating,USA,1000m,M,Gold
Gold,1994,Lillehammer,Skiing,Alpine Skiing,USA,downhill,M,Gold
Gold,1998,Nagano,Skiing,Freestyle Ski.,USA,aerials,M,Gold
Gold,1998,Nagano,Skiing,Freestyle Ski.,USA,moguls,M,Gold
Gold,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,M,Gold
Gold,2002,Salt Lake City,Skating,Short Track S.,USA,1500m,M,Gold
Gold,2002,Salt Lake City,Skating,Speed skating,USA,1500m,M,Gold
Gold,2002,Salt Lake City,Skating,Speed skating,USA,500m,M,Gold
Gold,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
Gold,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold